.btn {
  background: #E5E5E5;
  padding: 5px;
  color: black;
  cursor: pointer;
}

.btn:hover {
  border-width: 4px;
  border-style: solid;
  border-right-color: var(--white);
  border-bottom-color: var(--white);
  border-top-color: var(--black);
  border-left-color: var(--black);
}