.tile {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #BFBFBF;
    border-top: var(--white);
    border-left: var(--white);
    border-right: var(--black);
    border-bottom: var(--black);
    border-width: 4px;
    border-style: solid;
}

.open {
    background-color: #BFBFBF;
    border-top-color: var(--black);
    border-left-color: var(--black);
    border-right-color: var(--primary);
    border-bottom-color: var(--primary);
    border-width: 2px;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

.tile:hover {
    border-width: 2px;
}
.picked {
    background: url('/src/assets/icons/flag.svg') center center no-repeat;
}

.question {
    background: url('/src/assets/icons/qust.svg') center center no-repeat;
}

.cross {
    background-image: url('/src/assets/icons/flag.svg'), url('/src/assets/icons/cross.svg');
}

.bomb {
    border: none;
    background-color: var(--bombBg);
    background-image: url('/src/assets/icons/bomb.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

.over {
    border-top-color: var(--black);
    border-left-color: var(--black);
    border-right-color: var(--primary);
    border-bottom-color: var(--primary);
    border-width: 2px;
    background-image: url('/src/assets/icons/bomb.svg');
    background-position: center center;
    background-repeat: no-repeat;
}
