:root {
    --black: #818181;
    --white: #FFF;
    --gray-light: #EBEBEB;
    --primary: #BFBFBF;
    --bombBg: #FC0D1B;
}

@font-face {
    font-family: 'ArcadeClassic';
    src: local("ArcadeClassic"), url('../assets/fonts/ArcadeClassic.ttf'), format('WOFF');
}

html {
    box-sizing: border-box;
    font-family: ArcadeClassic, sans-serif;
    text-transform: capitalize;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E5E5E5;
}

.border {
    border-top: var(--white);
    border-left: var(--white);
    border-right: var(--black);
    border-bottom: var(--black);
    border-width: 4px;
    border-style: solid;
}

.border-reverse {
    border-right: var(--white);
    border-bottom: var(--white);
    border-top: var(--black);
    border-left: var(--black);
    border-width: 4px;
    border-style: solid;
}

.svg {
    width: 24px;
    height: 24px;
}





.tile0 {
    background-image: url('./../assets/icons/zero.svg');
}

.tile1 {
    background-image: url('./../assets/icons/one.svg');
}

.tile2 {
    background-image: url('./../assets/icons/two.svg');
}

.tile3 {
    background-image: url('./../assets/icons/three.svg');
}

.tile4 {
    background-image: url('./../assets/icons/four.svg');
}

.tile5 {
    background-image: url('./../assets/icons/five.svg');
}

.tile6 {
    background-image: url('./../assets/icons/six.svg');
}

.tile7 {
    background-image: url('./../assets/icons/seven.svg');
}

.tile8 {
    background-image: url('./../assets/icons/eight.svg');
}